#submit-form {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#contents-table {
    border: 1px solid black;
    margin-top: 1em;

    th {
        border: 1px solid black;
    }
    td {
        border: 1px solid black;
    }
}
