@import 'mixins';

#submit-form {
    border: 1px solid black;
    @include round-corner;
    padding: 5px;
}

#contents-table {
    border: 1px solid black;
    margin-top: 1em;

    th {
        border: 1px solid black;
    }
    td {
        border: 1px solid black;
    }
}
