@import 'mixins';

#login_form {
    float: right;
    padding: 5px;
    border: 1px solid black;
    @include round-corner;
    label {
        display: block;
    }
    input {
        display: block;
    }
}

